<h2>アレンジコーヒー一覧</h2>
<div>
  <% @arranges.each do |arrange| %>
    <div class=>
    <h3><%= arrange.category %></h3>
      <h3><%= arrange.title %></h3>
      <div>
        <div>
          <%= image_tag arrange.image_url %>
        </div>
        <div>
          <div>
            <p><%= arrange.info %></p>
            <h5>作り方</h5>
            <ol>
              <% text = arrange.howto.split(/(?<=。)/) %>
              <% text.each do |texts| %>
                <li><%= texts %></li>
              <% end %>
            </ol>
          </div>
          <div>
            <a href="#" class="red-text text-darken-2">仮のリンク</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate(@arranges) %>
</div>