<h2>登録レシピ編集</h2> 
<div>
  <%= form_tag("/recipes/#{@recipe.id}", method: :patch) do %>
  <ul>
    <li>レシピ名：<textarea name="recipe_name"><%= @recipe.recipe_name %></textarea></li>
    <li>生産国１：<%= select_tag 'bean_1_id', options_from_collection_for_select(@beans, :id, :country) %></li>
    <li>量１：<textarea name="amount_1"><%= @recipe.amount_1 %></textarea></li>
    <li>生産国２：<%= select_tag 'bean_2_id', options_from_collection_for_select(@beans, :id, :country) %></li>
    <li>量２：<textarea name="amount_2"><%= @recipe.amount_2 %></textarea></li>
    <li>生産国３：<%= select_tag 'bean_3_id', options_from_collection_for_select(@beans, :id, :country) %></li>
    <li>量３：<textarea name="amount_3"><%= @recipe.amount_3 %></textarea></li>
    <%= submit_tag 'submit' %>
  <% end %>
</div>