<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Brendshop</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Geo" rel="stylesheet">
  
    <!--↓アレンジコーヒー用のCSS設定-->
    <style type="text/css" href="./style.css"></style>
    <!-- Compiled and minified CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>

<header id="header">
  <div class="header-logo">
    <%= link_to "Brendshop", "/", method: :get %>
  </div>
  <% if user_signed_in? %>
    <div>
      <ul>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% if current_user.status? %>
        <li><%= link_to "管理画面", "/admins", method: :get %></li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div>
      <ul>
      <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
      <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
      </ul>
    </div>
  <% end %>
</header>

<body>

<%= yield %>

</body>

<hooter>
  <div>
    <ul>
      <li><%= link_to "HOME", "/" %></li>
      <!--<li><= link_to "COLUMN", "/columns" %></li>-->
      <li><%= link_to "ARRANGE_COFFEE", "/arranges" %></li>
    <% if user_signed_in? %>
      <li><%= link_to "MY PAGE", mypage_path(current_user) %></li>
    <% end %>
  </div>
</hooter>

</html>
